<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie?.Genre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movie">
    <ion-card-header text-center>
      <ion-card-title>{{movie.Title}}</ion-card-title>
      <ion-card-subtitle>
        {{movie.Year}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="{{movie.Poster}}" class="info-img">
      <ion-item lines="none">
        <ion-icon name="star-half" slot="start"></ion-icon>
        <ion-label>{{movie.Language}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label text-wrap>{{movie.Director}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label text-wrap>{{movie.Actors}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
